.dot-nw {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2f2fc7;
    position: absolute;
    top: 7px;
    left: 27px;
}
.dot-ig {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c74c2f;
    position: absolute;
    top: 7px;
    left: 27px;
}
.dot-up {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f2e160;
    position: absolute;
    top: 7px;
    left: 27px;
}