<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Data Pengaduan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-row justify-content-center>
      <ion-avatar>
        <img src="{{dataComplaint.profile.avatar}}">
      </ion-avatar>
    </ion-row>
  </ion-card-content>
  <div class="divider"></div>
  <ion-card-content>
    <ion-row>
      <ion-col size="5">Nama</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{dataComplaint.profile.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Tanggal Lahir</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{normalizeDate(dataComplaint.profile.birth)}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Jenis Kelamin</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{dataComplaint.profile.gender == 'men' ? 'Pria':'Perempuan'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">KTP</ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <img src="{{dataComplaint.profile.ktp}}">
    </ion-row>
    <ion-row>
      <ion-col size="5">Jenis Kekerasan</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{dataComplaint.text_category}}</ion-col>
    </ion-row>
  </ion-card-content>
  <div class="divider"></div>
  <ion-card-content>
    <ion-label>Masalah yang dialamai : </ion-label>
    <ion-card-content>
      <p>
        {{dataComplaint.story}}
      </p>
    </ion-card-content>
  </ion-card-content>
  <div class="divider"></div>
  <ion-card-content *ngIf="dataComplaint.status != 9">
    <ion-label>Validasi data : </ion-label>
    <ion-list>
      <ion-item>
        <ion-label>Validasi Data Diri</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="profileValid"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Validasi Pengaduan</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="applicationValid"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-row justify-content-center>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="success" (click)="selectConselor()" disabled="{{!profileValid || !applicationValid}}">
          Terima
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="danger" (click)="openNote()">
          Beri Catatan
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-card-content>
  <ion-card-content *ngIf="dataComplaint.status == 9">
    <ion-row justify-content-center>
      <ion-avatar>
        <img src="{{dataComplaint.conselor_profile.avatar}}">
      </ion-avatar>
    </ion-row>
  </ion-card-content>
  <div class="divider" *ngIf="dataComplaint.status == 9"></div>
  <ion-row justify-content-center text-center *ngIf="dataComplaint.status == 9">
    <ion-label color="primary">Data Konselor</ion-label>
  </ion-row>
  <ion-card-content *ngIf="dataComplaint.status == 9">
    <ion-row>
      <ion-col size="5">Nama</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{dataComplaint.conselor_profile.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Tanggal Lahir</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{normalizeDate(dataComplaint.conselor_profile.birth)}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">Jenis Kelamin</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="6">{{dataComplaint.conselor_profile.gender == 'men' ? 'Pria':'Perempuan'}}</ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>
