.footer-conselor-app {
    font-size: 6px;
}
.dot-active {
    background-color: blue;
    width: 16%;
    border-radius: 64%;
    color: white;
    font-size: 8pt;
    padding: 1px;
    position: absolute;
    top: 7px;
    right: 29px;
}